<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExchangeRates</key>
	<array>
		<real>1.32456</real>
		<real>1</real>
		<real>0.848</real>
		<real>110.86</real>
		<real>1.35</real>
		<integer>2</integer>
	</array>
	<key>Currencies</key>
	<array>
		<string>USD</string>
		<string>EUR</string>
		<string>GBP</string>
		<string>JPY</string>
		<string>AUD</string>
		<string>RUS</string>
	</array>
</dict>
</plist>
